.table {
    display: flex;
    justify-content: space-between;
}
.name_and_task{
    width: 50%;
    margin-left: 0;
    padding:px;
    color: aliceblue;
}
.custom-select {
    position: relative;
    display: inline-block; 
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    text-align: right; 
    border-color: transparent;
    background-color: transparent;
    direction: rtl; 
}

.custom-select select option {
    direction: ltr; 
}
.priority{
    align-items: center;
    padding-right: 0;
    width: 20%;
}
.status{
    align-items: center;
    padding-right: 0;
    width: 30%;
}
select{
    padding-right: 0;
}